<!-- _menu.html.erb -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-3">
  			
  		</div>
  		<div class="col-xs-6">
  			<div class="name-brand">
  				<a href="/"><%= yield :name_page %></a>
  			</div>
  		</div>
  		<div class="col-xs-3">
        <ul class="devise-log">
          <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>  
            </li>
          <% end %></ul>
  		</div>
  	</div>    
  </div><!-- /.container -->
</nav>

<% flash.each do |name, msg| %>

  <% if msg.class == Array %>
    <% msg.each do |message| %>
      <%= content_tag :div, message, :id => "flash_#{name}" %>
    <% end %>
  <% else %>


    <%= content_tag :div, msg, :id => "flash_#{name}" %>

  <% end %> 
<% end %>